html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow-x: hidden;  */
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    /* overflow-y: scroll; */
}

.imgblack {
    height: 100vh;
    width: calc(100vw - 16.8px);
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-position: 92% 5%;
    position: relative;
}

.imgblack::before {
    height: 100vh;
    width: calc(100vw - 16.8px);
    position: absolute;
    top: 0px;
    background-color: black;
    content: "";
    opacity: 0.7;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    padding: 22px;
    /* background-color: rgb(0, 0, 0); */
    position: relative;
    z-index: 11;
}

.container1 {
    height: 100vh;
    width: calc(100vw - 16.8px);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
}

.line1 {
    font-size: 56px;
    font-weight: 900;
}

.line2 {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
}

.line3 {
    font-size: 16px;
    font-weight: 400;
}

.inp:focus {
    border: 1px solid rgb(255, 255, 255);


}

.inp {
    color: aliceblue;
    background-color: black;
    border: 1px solid rgb(179, 177, 177);
}

.cont2 {
    display: flex;
    flex-direction: column;
    width: 1223.2px;
    margin: 0px auto;
    background-color: black;
}

.box {
    height: 264.8px;
    width: 293.4px;
    margin: 16px 0px 0px 0px;
    background-image: linear-gradient(149deg, rgb(25, 34, 71) 0%, rgb(33, 14, 23) 96.86%);
    border-radius: 16px;
}

.space {
    padding: 0px 16px 0px 16px;
}

.item1 {
    height: 84px;
    width: 1223.2;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
    color: aliceblue;
    padding: 24px;
    box-sizing: border-box;
}

.gride {
    display: grid;
    grid-template-columns: "1fr 1fr 1fr";
    grid-template-rows: "1fr 1fr 1fr";
    color: rgba(255, 255, 255, 0.7);
    height: 142px;
    width: 1223.2px;

}

.gi1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    color: rgba(255, 255, 255, 0.7);
}

.gi2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    color: rgba(255, 255, 255, 0.7);
}

.gi3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    color: rgba(255, 255, 255, 0.7);
}

.gi4 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    color: rgba(255, 255, 255, 0.7);
}

.gi5 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color: rgba(255, 255, 255, 0.7);
}

.gi6 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    color: rgba(255, 255, 255, 0.7);
}

.gi7 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    color: rgba(255, 255, 255, 0.7);
}

.gi8 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    color: rgba(255, 255, 255, 0.7);
}

.gi9 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    color: rgba(255, 255, 255, 0.7);
}

.gi10 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    color: rgba(255, 255, 255, 0.7);
}

.gi11 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    color: rgba(255, 255, 255, 0.7);
}

.gi12 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    color: rgba(255, 255, 255, 0.7);
}

.gi13 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    color: rgba(255, 255, 255, 0.7);
}

.gi14 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    color: rgba(255, 255, 255, 0.7);
}

.gi15 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    color: rgba(255, 255, 255, 0.7);
}

.gi16 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    color: rgba(255, 255, 255, 0.7);
}
.image{
    width: calc(100vw - 16.8px);
}
.img1{
    height: 252px;
    width: 180px;
    margin: 16px 0px 0px 0px;
    border-radius: 16px;
}